In [1]:
import pandas as pd
import string

In [6]:
df = pd.read_csv("../data/upworthy-confirmatory.csv", sep = ',', low_memory = False, usecols=[*range(5,6),*range(9,11)])

In [7]:
df.head()

                                            headline  impressions  clicks
0  Let’s See … Hire Cops, Pay Teachers, Buy Books...         3118       8
1  People Sent This Lesbian Questions And Her Rai...         4587     130
2  $3 Million Is What It Takes For A State To Leg...         3017      19
3  The Fact That Sometimes Innocent People Are Ex...         2974      26
4  Reason #351 To End The Death Penalty: It Costs...         3050      10

In [8]:
count = lambda l1, l2: sum([1 for x in l1 if x in l2])
accumulate = lambda l1,l2: [x for x in l1 if x in l2]

In [10]:
df["count_punct"] = df.headline.apply(lambda s: count(s, string.punctuation))

In [11]:
df['punct_list'] = df.headline.apply(lambda s: accumulate(s, string.punctuation))

In [12]:
df.head()

,headline,impressions,clicks,count_punct,punct_list
0,"Let’s See … Hire Cops, Pay Teachers, Buy Books...",3118,8,6,"[,, ,, ., ., ,, ?]"
1,People Sent This Lesbian Questions And Her Rai...,4587,130,0,[]
2,$3 Million Is What It Takes For A State To Leg...,3017,19,1,[$]
3,The Fact That Sometimes Innocent People Are Ex...,2974,26,2,"[., ?]"
4,Reason #351 To End The Death Penalty: It Costs...,3050,10,4,"[#, :, $, .]"

In [13]:
df.to_csv("../data/punct_text_ner.csv", sep = ';')