In [16]:
import pandas as pd
import string

In [26]:
df = pd.read_csv("../data/indexedwtext_ner.csv", sep = ',')

In [27]:
df.head()

,Entity,Label,Impressions,Clicks,Headline,OriginalRow
0,Downton Abbey,WORK_OF_ART,3454,56,"\nLike Downton Abbey? Well, There’s Another Dr...",0
1,PBS,ORG,3454,56,"\nLike Downton Abbey? Well, There’s Another Dr...",0
2,This Land Was Made,WORK_OF_ART,2712,35,'This Land Was Made For You And Me' — Or Was It?,4
3,George Zimmerman,PERSON,2950,275,A Perspective On George Zimmerman That Every ...,5
4,McGruff,PERSON,2739,9,A Strategy To Combat Crime That McGruff Wishe...,6

In [28]:
count = lambda l1, l2: sum([1 for x in l1 if x in l2])
accumulate = lambda l1,l2: [x for x in l1 if x in l2]

In [31]:
df["count_punct"] = df.Headline.apply(lambda s: count(s, string.punctuation))

In [32]:
df['punct_list'] = df.Headline.apply(lambda s: accumulate(s, string.punctuation))

In [33]:
df.head()

,Entity,Label,Impressions,Clicks,Headline,OriginalRow,count_punct,punct_list
0,Downton Abbey,WORK_OF_ART,3454,56,"\nLike Downton Abbey? Well, There’s Another Dr...",0,2,"[?, ,]"
1,PBS,ORG,3454,56,"\nLike Downton Abbey? Well, There’s Another Dr...",0,2,"[?, ,]"
2,This Land Was Made,WORK_OF_ART,2712,35,'This Land Was Made For You And Me' — Or Was It?,4,3,"[', ', ?]"
3,George Zimmerman,PERSON,2950,275,A Perspective On George Zimmerman That Every ...,5,0,[]
4,McGruff,PERSON,2739,9,A Strategy To Combat Crime That McGruff Wishe...,6,0,[]

In [34]:
df.to_csv("../data/punct_text_ner.csv", sep = ';')